.btn {
  all: unset;
  padding-inline: 1rem;
  height: 2.5rem;
  border-radius: 2rem;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;

  &:disabled {
    background-color: rgba(211, 211, 211, 0.5);
    border-color: rgba(128, 128, 128, 0.5);
    color: rgba(128, 128, 128, 0.5);
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid #007bff;
  }
}

.btn:disabled:hover {
  background-color: rgba(211, 211, 211, 0.5);
  border-color: rgba(128, 128, 128, 0.5);
  color: rgba(128, 128, 128, 0.5);
  cursor: not-allowed;
}

.btn-filled {
  background-color: var(--primary-200);
  font-family: "Nunito", serif;
  font-weight: 700;
  color: black;
  border-color: var(--primary-400);

  &:hover {
    background-color: var(--primary-300);
  }

  &:active {
    background-color: var(--primary-400);
  }
}

.btn-outlined {
  background-color: transparent;
  border: 2px solid var(--primary);

  &:hover {
    border: 2px solid var(--primary-600);
    /* font-weight: 500; */
    background-color: var(--primary-100);
  }

  &:active {
    background-color: var(--primary-100);
  }
}

.btn-text {
  all: unset;
  /* font-family: "Nunito", serif;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid red;
  padding: 0 0 0 0.5rem; */
  grid-row: 1 / span 2;
  grid-column: 2;
  border: 1px solid red;
}
