.notification-base {
  border: 1px solid;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  height: 2.5rem;
}

.notification-error {
  color: var(--error-base);
  border-color: var(--error-base);
  background-color: var(--error-xxlight);
}

.notification-success {
  color: white;
  border-color: transparent;
  background-color: var(--background-600);
}
