.form-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: min(100%, 480px);
}

.button-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
