.btn {
  all: unset;
  /* padding: 0 0.5rem; */
  padding-inline: 1rem;
  height: 2.5rem;
  border-radius: 2rem;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
}

.btn-filled {
  /* background: linear-gradient(
    to bottom,
    var(--primary-400),
    var(--primary-500)
  ); */
  background-color: var(--primary-500);
  font-family: "Nunito", serif;
  font-weight: 700;
  /* letter-spacing: 0.5px; */
  color: black;

  &:hover {
    /* background: linear-gradient(
      to bottom,
      var(--primary-600),
      var(--primary-700)
    ); */
    background-color: var(--primary-600);
    color: white;
  }

  &:active {
    /* background: linear-gradient(
      to bottom,
      var(--primary-700),
      var(--primary-800)
    ); */
    background-color: var(--primary-700);
    color: white;
  }
}

.btn-outlined {
  background-color: transparent;
  border: 2px solid var(--primary);

  &:hover {
    border: 2px solid var(--primary-600);
    background-color: var(--primary-200);
  }

  &:active {
    background-color: var(--primary-100);
  }
}
