input[type="text"] {
  height: 2.5rem;
  padding: 0.25rem 1rem;
  border: thin solid var(--primary);
  border-radius: 2rem;
  font: inherit;

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

.text-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

label {
  margin-left: 0.5rem;
}

.text-input-error {
  margin-left: 0.5rem;
  padding: 0 0.5rem;
  list-style-position: inside;
  font-size: 0.925rem;
  color: var(--error-base);
  width: 90%;

  & li {
    text-wrap: balance;
    /* white-space: nowrap; */
  }
}
