.wrapper {
  /* 12 grids */
  width: min(100%, 1366px);
  min-height: 100dvh;
  height: 100%;
  margin: 0 auto;
  padding: 12px 24px 3rem;
  gap: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 800px) {
    /* 8 grids */
    padding: 8px 16px 3rem;
  }

  @media only screen and (max-width: 481px) {
    /* 4 grids */
    padding: 8px 8px 4rem;
    font-size: 0.925rem;
    font-size: 0.85rem;
  }
}

.container {
  border: 1px solid var(--primary);
  border-radius: 1rem;
  background-color: var(--primary-50);
  color: var(--text-dark);
  padding: 1.5rem;
  box-shadow: var(--shadow-primary-m);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: min(100%, 480px);
}
